    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.store('githubReleases', {
                isDeprecated: false,
                link: false,
                version: '{{ field.value }}',
            })
        });
        getGithubReleases('{{ field.value }}');
    </script>
    <div x-data>
        <a :class="$store.githubReleases.isDeprecated ?
                                        'btn btn-warning' :
                                        'btn btn-light'"
           x-bind:href="$store.githubReleases.link"
           href="https://www.github.com/mautic/mautic/releases/tag/{{ field.formattedValue }}"
           target="_blank">
            {{ field.formattedValue }}
            <i :class="
            if($store.githubReleases.link) {
                if ($store.githubReleases.isDeprecated) {
                    return 'fa fa-arrow-up'
                } else {
                    return 'fa fa-check'
                }
            } else {
                return 'fa fa-circle-notch fa-spin'
            }"></i>
        </a>
    </div>
