
{% if field.formattedValue is iterable %}
{{ field.formattedValue[0] }} <a href="https://www.github.com/mautic/mautic/releases/tag/{{ field.formattedValue[1] }}"
                                 target="_blank" data-toggle="tooltip" data-placement="bottom"
                                 title="A Stable Update for this instance is available">🔺</a>
{% else %}
{{ field.formattedValue }}
{% endif %}

{% dump(_context) %}

